/* Use this file to use your own styles*/

/* Import declaration to use Google Fonts - check https://fonts.google.com/ for details */
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Styles for the body */

body {
	font-family: 'Lato';
	color: #202030;
	background-color: rgb(255, 255, 255);
}
	
h1 {
	font-family: 'Anton';
	font-size: 60px;
	font-weight: bold;
	text-transform: uppercase;
	color: #384bac;
	text-shadow: 5px 5px rgb(156, 142, 192);
}

.bold-text {
font-weight: bold;
}

/* Styles for custom classes in the document. (There are more, try to find them out!) */

.resume-header {
    background-color: rgb(219, 255, 243);
}

.resume-main {
	background-color: #AED6F1;
}

.resume-aside {
	background-color: #bdc4e2;
}

/* Styles for lists in the document */

.biography-details li::before, .skill-list li::before {
	content: ">";
	font-weight: 800;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

.biography-details li::before {
	color: #2334ee;
}

.biography-details li, .skill-list li {
	padding-left: 1em;
}

/* Styles for contact icons */

.contact-icon {
	height: 1em;
	flex-basis: 1.4em;
}


